<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Encrypt URL</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Encrypt URL</a>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="d-flex flex-column justify-content-center">
            <form class="mt-3" action="/encryptUrl" method="POST">
                <div class="form-group">
                    <label for="encryptUrl">Enter URL to Encrypt:</label>
                    <input type="text" class="form-control" name="encryptUrl">
                </div>
                <div class="form-group">
                    <label for="urlKey">Key to Decrypt:</label>
                    <input type="password" class="form-control" name="urlKey">
                    <small class="form-text text-muted">Only individuals with this key can decrypt your URL.</small>
                </div>
                <button type="submit" class="btn btn-outline-primary">Encrypt</button>
            </form>
            <% if (hashedUrl) { %>
                <h1 class="mt-4">Below is your encrypted URL.</h1> 
                <p class="mt-4">Be sure to share your key to only those you trust.</p>
                <a href="<%= 'http://127.0.0.1:3001/' + hashedUrl.encryptedData %></a>"><%= "http://127.0.0.1:3001/" + hashedUrl.encryptedData %></a>
            <% } %>
        </div>

    </div>
</body>

</html>